<div class="row">
    <div class="col-md-5">
        <h2>Input</h2>
        <input type="text" />
    </div>
    <div class="col-md-2">
        <input type="button" value="Run" />
    </div>
    <div class="col-md-5">
        <h2>Output</h2>
        <div>output...</div>
    </div>
</div>
